div{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    border: 5px solid black;
    margin-bottom: 5px;
}

.outer{
    height: 500px;
    background-color: blueviolet;
    width: 200px;
    /* border-width: 20px;
    border-style: dotted;
    border-color: blue; */
    text-align: center;
    /* another way to write border properties is combining them as shown below */
    border: 20px dotted blue;
    border-radius: 10px; /*this gives curve to the border */
    /* padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px; */

    padding: 5% 5% 10% 5%;
}

.practicediv{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}