div{
    height: 100px;
    width: 100px;
    background-color: crimson;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

div:hover{
    background-color: chocolate;
    color: black;
    font-size: 30px;
    /* transform: rotate(180deg);
    transform: translate(30px); */
    /* transform: scale(2,2); */
    /* transform: skew(30deg); */
    animation-name: first;
    animation-duration:10s;
    animation-timing-function:  ease-in;
}


div:active{
    background-color: darkgray;
    
}

/* transition shorthand
property name |duration|timing function|delay */
/* eg- transition:font-size 2s ease-in-out 0.2s */


@keyframe first{
    from{background-color: crimson}
    to{background-color: white}
}