body{
    text-align: center;
}
div{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px dotted black;
}

.container{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    align-items: center;
    align-content: flex-start;
    
}
.box1{
    background-color: blanchedalmond;
}

.box2{
    background-color: antiquewhite;
    height: 20px;
}

.box3{
    background-color: beige;
    height: 70px;
    flex-shrink: 3;
}

.box4{
    background-color: burlywood;
}

.box5{
    background-color: silver;
}
